@model eMenu.Models.ViewModels.AppUserViewModel

<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2 style="color:white">
                SignIn
            </h2>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="form_container" style="color:white">
                    <form asp-action="SignIn">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="UserName" asp-for="UserName">
                                </div>
                                <div class="col-md-6">
                                    <span asp-validation-for="UserName"></span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6 ">
                                    <input type="email" class="form-control " placeholder="Email" asp-for="Email">
                                </div>
                                <div class="col-md-6 d-flex align-items-center">
                                    <span asp-validation-for="Email"></span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                                </div>
                                <div class="col-md-6">
                                    <span asp-validation-for="Password"></span>
                                </div>
                            </div>

                            <div class="btn_box">
                                <button type="submit">
                                    SignIn
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
